@page "/Dashboard"



<p> hola dashboard</p>
@* *  
    <div class="container mt-4">
	<div class="row mb-4">
		<div class="col-md-4">
			<div class="card text-white bg-success mb-3">
				<div class="card-header">Ventas del Día</div>
				<div class="card-body">
					<h5 class="card-title">$@DailySales</h5>
					<p class="card-text">Total de ventas realizadas hoy</p>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="card text-white bg-success mb-3">
				<div class="card-header">Total de Productos</div>
				<div class="card-body">
					<h5 class="card-title">@TotalProducts</h5>
					<p class="card-text">Productos disponibles en el inventario</p>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="card text-white bg-success mb-3">
				<div class="card-header">Total de Proveedores</div>
				<div class="card-body">
					<h5 class="card-title">@TotalSuppliers</h5>
					<p class="card-text">Proveedores registrados</p>
				</div>
			</div>
		</div>

	</div>

            <ul class="nav nav-tabs mb-4"> 
                <li class="nav-item">
                    <a class="nav-link @(activeCategory == "General" ? "active" : "")" @onclick='() => activeCategory = "General"'>General</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link @(activeCategory == "Frutas" ? "active" : "")" @onclick='() => activeCategory = "Frutas"'>Frutas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link @(activeCategory == "Sandwiches" ? "active" : "")" @onclick='() => activeCategory = "Sandwiches"'>Sandwiches</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link @(activeCategory == "Dulces" ? "active" : "")" @onclick='() => activeCategory = "Dulces"'>Dulces</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link @(activeCategory == "Vegetales" ? "active" : "")" @onclick='() => activeCategory = "Vegetales"'>Vegetales</a>
                </li>
            </ul>  
      
	</div> *@